<div class="container">

	<h1>Articles</h1>

	<div class="articles">

		<% @articles.each do |a| %>

		<div class="article">

			<h1><%= link_to a.title, article_path(a), class: 'articleTitle' %></h1>

			<p><%= a.body %></p>

		</div>

		<% end %>
		
		<%= link_to "New Article", new_article_path, class: 'newArticle' %>
	</div>
</div>