// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	width: 80%;
	margin: 20px auto;
	text-align: center;
}

.articles {
	width: 400px;
	margin: 0 auto;
}

.article {
	margin: 10px 0;
	padding: 10px;
	border: 1px black solid;
	text-align: left;	
}
